.about-icon {
    font-size: 1.5em;
}

.about-icons {
    display: flex !important;
}

.message + label {
    color: white !important;
}

.message{
    color: white !important;
}

@media (min-width: 1024px) and (max-width: 1300px) {
    .tech {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
    .tech {
        width: 55px;
        height: 55px;
        margin-top: 10px;
    }
    .tech-grid {
        display: block;
    }
}

@media (max-width: 767.9px) {
    .tech {
        width: 52px;
        height: 52px;
    }
    .tech-grid {
        display: block;
    }
}

@media (min-width: 460px) and (max-width: 1023.9px) {
    .res-avatar {
        margin: 3rem auto;
    }
    .res-content {
        margin: auto;
    }
}

@media (max-width: 459.9px) {
    .res-avatar {
        margin: 1.5rem auto;
    }
    .res-content {
        margin: auto;
    }
}

@media (max-width: 360px) {
    .res-avatar {
        margin: 1rem auto;
        width: 100%;
    }
    .about-content p{
        font-size: 0.75rem;
    }
}