.about-icon {
    font-size: 1.5em;
}

.about-icons {
    display: flex !important;
}

@media (min-width: 460px) and (max-width: 1023.9px) {
    .about-avatar {
        margin: 3rem auto;
    }
    .about-content {
        margin: auto;
    }
}

@media (max-width: 459.9px) {
    .about-avatar {
        margin: 1.5rem auto;
    }
    .about-content {
        margin: auto;
    }
}

@media (max-width: 360px) {
    .about-avatar {
        margin: 1rem auto;
        width: 100%;
    }
    .about-content p{
        font-size: 0.75rem;
    }
}